<html>

<body style="
			margin: 0;
			padding: 0;
			background-color: #fffff;
			color: #495057;
			font-family: Arial, sans-serif;
		">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="width: 40px;">&nbsp;</td>
            <td style="font-size: 18px;">&nbsp;</td>
            <td style="width: 40px;">&nbsp;</td>
        </tr>

        <tr>
            <td style="width: 40px;">&nbsp;</td>
            <td style="font-size: 24px;">&nbsp;</td>
            <td style="width: 40px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 40px;">&nbsp;</td>
            <td style="font-size: 14px;">
                <h3>Temos uma nova mensagem,</h3>
                <p>
                    Segue abaixo o contato feito pelo site:
                </p>
                <p><b>Nome:</b> {{nome}}</p>
                <p><b>E-mail:</b> {{email}}</p>
                <p><b>Telefone:</b> {{telefone}}</p>
                <p><b>Mensagem:</b> {{mensagem}}</p>
            </td>
            <td style="width: 40px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 40px;">&nbsp;</td>
            <td style="font-size: 60px;">&nbsp;</td>
            <td style="width: 40px;">&nbsp;</td>
        </tr>
    </table>
</body>

</html>